
#playback-controls{
	border: solid;
	padding: 10px;
	margin: 5px;
}

#volStuff {
  border: 3px solid green;
  padding: 10px;
  margin: 5px;
  width: auto;
/*  float: right;
*/}

#devInfo {
	float:left;
	border: solid;
	padding: 10px;
	margin: 5px;
}
