<configuration>
  <system.webServer>

    <!-- indicates that the deviceInfo.js file is a node.js application 
    to be handled by the iisnode module -->

    <handlers>
      <add name="iisnode" path="deviceInfo.js" verb="*" modules="iisnode" />
    </handlers>

    <!-- use URL rewriting to redirect the entire branch of the URL namespace
    to deviceInfo.js node.js application; for example, the following URLs will 
    all be handled by hello.js:
    
        http://localhost/node/checkin/ip
        
    -->

    <iisnode      
      node_env="%node_env%"
      nodeProcessCountPerApplication="1"
      maxConcurrentRequestsPerProcess="1024"
      maxNamedPipeConnectionRetry="100"
      namedPipeConnectionRetryDelay="250"      
      maxNamedPipeConnectionPoolSize="512"
      maxNamedPipePooledConnectionAge="30000"
      asyncCompletionThreadCount="0"
      initialRequestBufferSize="4096"
      maxRequestBufferSize="65536"
      watchedFiles="*.js;node.conf"
      uncFileChangesPollingInterval="5000"
      gracefulShutdownTimeout="60000"
      loggingEnabled="true"
      logDirectory="iisnode"
      debuggingEnabled="true"
      debugHeaderEnabled="false"
      debuggerPortRange="5058-6058"
      debuggerPathSegment="debug"
      maxLogFileSizeInKB="128"
      maxTotalLogFileSizeInKB="1024"
      maxLogFiles="20"
      devErrorsEnabled="true"
      flushResponse="false"
      enableXFF="false"
      promoteServerVars=""
      configOverrides="node.conf"
     />

    <rewrite>
      <rules>
        <rule name="checkin">
          <match url="checkin/*" />
          <action type="Rewrite" url="deviceInfo.js" />
        </rule>
        <rule name="media">
          <match url="media/*" />
          <action type="Rewrite" url="deviceInfo.js" />
        </rule>
      </rules>
    </rewrite>
    
  </system.webServer>
</configuration>
